.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}

$color: #1E5476;
$orange: #F89A1F;

$text: #1E5476;
$bg2: #cde6f7;

.subtitle {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3;
  color: #34393d;
  display: inline-block;
  text-align: center;
}

.cloud {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 142px;
  background: #F9F9F9;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h2 {

      margin-bottom: 40px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 60px;
    counter-reset: my-awesome-counter2;

  }
}

.single-cloud {
  width: calc((100% / 3) - (120px / 3));
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  counter-increment: my-awesome-counter2;
  padding-right: 31px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;


  .number {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    padding: 7px;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: 1px solid $color;
    z-index: 4;

    &::after {
      width: 100%;
      height: 100%;
      background: $color;
      display: inline-block;
      content: '';
      border-radius: 50%;
    }

    &::before {
      content: counter(my-awesome-counter2);

      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 130%;


      color: #FFFFFF;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);


    }
  }

  &__cont {
    width: 100%;
    transition: all 0.3s ease-in-out;
    margin-top: 60px;
    max-height: 0;
    overflow: hidden;
    z-index: 2;
    border-radius: 10px;
    position: relative;


    .txt {
      padding: 17px 84px 17px 35px;
      width: 100%;
      background: $bg2;
    }
  }

  &__text {
    width: 100%;
    background: $orange;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    min-height: 60px;
    //padding: 12px 84px 12px 35px;
    position: relative;

    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 130%;
    color: $text;

    &::after {
      width: 8px;
      height: 5px;
      display: inline-block;
      content: '';
      position: absolute;
      top: 28px;
      left: 24px;
      z-index: 3;
      background: url("../images/new/arrow-botblue.svg") no-repeat center / 100%;
      transition: all 0.3s ease-in-out;

    }
  }

  &__head {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 12px 84px 12px 35px;


    span {
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 130%;
      color: $text;
    }
  }

  &.open {
    .single-cloud__text {
      background: #80C0E9;

      &::after {
        transform: rotate(180deg);
      }
    }

    .single-cloud__cont {
      max-height: 240px;
      margin-top: 0;
    }
  }

}

.weekly-graph {
  position: relative;
  width: 100%;
  padding: 106px 0 208px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    &::before, &::after {
      width: 32%;
      height: 0;
      padding-top: 32%;
      display: inline-block;
      content: '';
      background: $orange;
      position: absolute;
      top: 10px;
      left: 0;
      transform: translate(-50%, 0);
      border-radius: 50%;
    }

    &::after {
      left: auto;
      right: 0;
      top: auto;
      bottom: 25px;
      width: 20%;
      padding-top: 20%;
      background: $color;
      transform: translate(50%, 0);

    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .subtitle {
      margin-bottom: 100px;
    }

    > p {
      margin-top: 22px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #545454;


    }
  }

  &__list {
    width: 100%;
    max-width: 912px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 74px 60px;
    counter-reset: my-awesome-counter2;

  }
}

.single-weekly-graph {
  counter-increment: my-awesome-counter2;
  width: calc((100% / 3) - (120px / 3));
  position: relative;

  &::before, &::after {
    width: 43px;
    height: 12px;
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translate(-100%, -50%);
    background: url("../images/new/arrow-week.svg") no-repeat center / 100%;
  }

  &::after {
    right: -15px;
    left: auto;
    transform: translate(100%, -50%);
  }

  &:nth-child(1), &:nth-child(2), &:nth-child(3) {
    &::after {
      content: none;
    }
  }

  &:nth-child(5) {
    &::before, &::after {
      content: none;
    }
  }


  .number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    padding: 3px;
    border: 1px solid $orange;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
      width: 100%;
      height: 100%;
      background: $orange;
      display: inline-block;
      content: '';
      border-radius: 50%;
    }

    &::before {
      content: counter(my-awesome-counter2);


      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #FFFFFF;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);


    }
  }

  &__text {
    width: 100%;
    height: 100%;
    background: $color;
    border-radius: 10px;
    padding: 25px 24px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: auto;
      margin-top: auto;

    }

    .ic {
      width: 90px;
      height: 60px;
      margin-top: 9px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.info-company, .faq {
  .container {
    max-width: 1110px;
  }
}

.warning {
  padding-bottom: 0;
  padding-top: 0;

  .warning-header {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    margin-bottom: 0;

    &::before, &::after {
      content: none;
    }

    .warning-header__text {
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 160%;
      text-align: center;
      color: #FFFFFF;


    }
  }
}

.marquee-cont {
  width: 100%;
}

.marquee-cont > div {
  width: 100%;
}

.warning-big-image {
  width: 100%;
  height: 0;
  padding-top: 37.08%;
  position: relative;

  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: inline-block;
    content: '';
    background: rgba(30, 84, 118, 0.28);

  }

  .img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    appearance: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
    }
  }
}

body {
  min-height: 100%;
  height: auto;
}

.whats-up-link {
  width: 80px;
  height: 80px;
  display: flex;
  position: fixed;
  left: 36px;
  bottom: 156px;
  z-index: 9;

  a {
    width: 100%;
    height: 100%;
    display: flex;

    svg {
      width: 100%;
      height: auto;

      path {
        fill: #49D33B;
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: #F89A1F;
        }
      }
    }
  }

}

@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}

.claim-choice {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background: #F6F7F9;
  //overflow-y: auto;
  position: relative;
  overflow: hidden;
}

.choice-block {
  width: 100%;
  height: 100%;

  .container {
    height: 100%;
    max-width: 1500px;
    padding: 0 15px;
    position: relative;
    z-index: 3;
  }
}

.general-choice__cont {
  height: 100%;
  padding: 80px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  .man {
    width: 513px;
    height: auto;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    img {
      width: 100%;
      height: auto;
    }
  }

  .center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 200px;
    margin-top: auto;
  }

  .top {
    .log {
      height: 84px;
      width: auto;
      display: flex;
      background: #f6f7f9;


      a, img {
        height: 100%;
        width: auto;
        mix-blend-mode: darken;
      }
    }
  }

  .select-type {
    width: 388px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 130%;
      color: #34393D;
      width: 100%;
      text-align: center;
      margin-bottom: 60px;
    }

    .btn {
      width: 222px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.choice-block {
  background: #F6F7F9;
  transition: all 0.5s ease-in-out;

  &.not-choiced {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 120px;
    z-index: 3;

    &.choiced {
      top: 0;
      height: 100%;
      z-index: 4;
    }
  }

}

.choice-block__steps {
  counter-reset: my-awesome-counter2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 23px;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 60px;

  &::before {
    height: 10px;
    background: #F89A1F47;
    width: 100%;
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  .step {
    counter-increment: my-awesome-counter2;
    border: 1px solid #F89A1F;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 3px;
    z-index: 2;
    opacity: 0.55;
    transition: all 0.3s ease-in-out;

    &.selected {
      opacity: 1;
    }

    &::before {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #F89A1F;
      display: inline-block;
      content: '';
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      color: #FFFFFF;
      content: counter(my-awesome-counter2);
    }
  }
}

.left-choice {
  .choice-block__steps {
    &::before {
      background: #1E547647;
    }

    .step {
      border-color: #1E5476;

      &::before {
        background: #1E5476;
      }
    }
  }
}

.left-choice__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;

  .plum {
    position: absolute;
    display: flex;

    transition: all 0.3s ease-in-out;

    img {
      &.sec {
        display: none;
      }
    }

    &.plum--left {
      width: 259px;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    &.plum--right {
      width: 312px;
      top: 0;
      right: 0;

      img {
        width: 100%;
        height: auto;
      }
    }
  }


}


.left-choice__cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 45px;
  padding-top: 10px;
  overflow-y: auto;
  max-height: 100%;

  transition: all 0.5s ease-in-out;

  &::-webkit-scrollbar {
    display: none !important;
  }

  .log {
    width: 160px;
    height: auto;
    display: flex;

    margin-bottom: 45px;
    background: #f6f7f9;

    img {
      width: 100%;
      height: auto;
      mix-blend-mode: darken;
    }
  }
}

.left-choice__form {
  width: 100%;
  max-width: 908px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.19);
  padding: 26px;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
    content: '';
    z-index: -1;
    background: #F6F7F9;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  }

  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));

  .form {
    width: 100%;
    max-width: 451px;
    margin-left: auto;
    margin-right: auto;

    .form-fields {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    .btn {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 260px;
      margin-left: auto;
      margin-right: auto;
      height: 43px;
    }

    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      color: #1E5476;
      display: inline-block;
      width: 100%;
      margin-bottom: 30px;
    }

    .wpcf7 {
      width: 100%;
    }
  }
}

.input-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 6px;

  label {
    display: none;
  }

  .wpcf7-form-control-wrap {
    display: flex;
    width: 100%;
  }

  input, textarea {
    resize: none;
    outline: none;
    width: 100%;
    padding: 12px;
    border: none;
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #1E5476;
    font-family: 'Open Sans Hebrew';

    &.wpcf7-not-valid {
      border-color: red !important;
    }

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #1E5476;

    &::placeholder {
      color: #545454;
      font-family: 'Open Sans Hebrew';
    }


  }
}

.left-choice__thanks {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  transform: translate(0, 110%);
  max-height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none !important;
  }

  .container {
    height: 100%;
  }


  .log {
    width: 427px;
    height: auto;
    display: flex;
    margin-bottom: 62px;
    background: #f6f7f9;

    img {
      width: 100%;
      height: auto;
      mix-blend-mode: darken;
    }
  }
}

.left-choice__thanks-cont {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background: #F6F7F9;
  max-width: 950px;
  padding: 10px 50px 157px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  p {

    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    color: #34393D;
  }

}


.left-choice {
  &.step-2 {
    .left-choice__bg {
      .plum {
        img {
          display: none;

          &.sec {
            display: flex;
          }
        }

        &.plum--left {
          width: 410px;
          top: auto;
          bottom: 0;
        }

        &.plum--right {
          width: 435px;
        }
      }
    }

    .left-choice__cont {
      transform: translate(0, 110%);
    }

    .left-choice__thanks {
      transform: translate(0, 0);
    }
  }
}

.right-choice {
  .log {
    position: absolute;
    top: 15px;
    right: 15px;

    height: 60px;
    width: auto;
    display: flex;
    background: #f6f7f9;


    a, img {
      height: 100%;
      width: auto;
      mix-blend-mode: darken;
    }
  }

  .left-choice__cont {
    padding-top: 33px;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 130%;
      color: #34393d;
      width: 100%;
      text-align: center;
      margin-bottom: 22px;
    }

    p {
      font-family: 'Open Sans Hebrew';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      color: #34393D;
      margin-bottom: 57px;

    }
  }

}

.select-insurance {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 39px;
}

.single-insurance {
  width: calc((100% / 4) - ((39px * 3) / 4));
  position: relative;
  padding: 6px;
  border: 1px solid #1E5476;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
    background: #1E5476;
    border-radius: 6px;
    padding: 7px 5px;
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;


  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 3;
  }

  &:hover {
    border-color: #F89A1F;
  }

  &:has(input:checked) {
    border-color: #F89A1F;

    span {
      background: #F89A1F;
    }
  }
}

.select-buttons {
  width: 100%;
  max-width: 540px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;

  .btn {
    width: calc(50% - 15px);
    height: 55px;
    border: 2px solid #F89A1F;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;

    &::after {
      width: 16px;
      height: 11px;
      display: inline-block;
      content: '';
      position: absolute;
      top: 50%;
      transition: all 0.3s ease-in-out;
      background: url("../images/new/arrow-orange.svg") no-repeat center / 100%;
      left: 20px;
      transform: translate(0, -50%) rotate(180deg);
      filter: brightness(100);
    }

    &:hover {
      background: rgba(255, 255, 255, 0);
      color: #F89A1F;

      &::after {
        filter: brightness(1);
      }
    }

    &.btn--trans {
      &::after {
        left: auto;
        right: 20px;
        transform: translate(0, -50%);
        filter: brightness(1);
      }

      &:hover {
        background: #F89A1F;
        color: #fff;

        &::after {
          filter: brightness(100);
        }
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .cloud {
    padding: 70px 0 90px;
  }
  .weekly-graph {
    padding: 70px 0 140px;
  }
  .cloud__list {
    gap: 40px;
  }
  .single-cloud {
    width: calc((100% / 3) - (80px / 3));
  }
  .single-cloud .number::before {
    font-size: 26px;
  }
  .container {
    max-width: 1320px;
  }
  .single-cloud__text {
    font-size: 18px;
  }
  .warning .warning-header .warning-header__text {
    font-size: 40px;
  }
  .warning .warning-header {
    padding: 55px 50px 40px;
  }
  .single-cloud__head span {
    font-size: 18px;
  }
}

@media screen and (max-width: 1450px) {
  .container {
    max-width: 1300px;
    padding: 0 15px;
  }

  .cloud__list {
    gap: 30px;
  }
  .weekly-graph__bg::before {
    width: 26%;
    padding-top: 26%;
  }
  .single-cloud {
    width: calc((100% / 3) - (60px / 3));
  }
  .single-cloud .number {
    width: 90px;
    height: 90px;
  }
  .single-cloud {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .single-cloud__head {
    padding: 12px 64px 12px 35px;
  }
  .single-cloud__cont .txt {
    padding: 17px 64px 17px 35px;
  }
  .footer .footer-link {
    margin-left: 100px;
  }
  .footer .footer-logo {
    height: 90px;
  }
}

@media screen and (max-width: 1300px) {
  .single-weekly-graph:nth-child(3) {
    &::before {
      content: none;
    }
  }
  .whats-up-link {
    width: 70px;
    height: 70px;
    left: 20px;
    bottom: 70px;
  }
  .warning .warning-header {
    padding: 40px 15px;
  }
  .warning .warning-header .warning-header__text {
    font-size: 32px;
  }
  .single-cloud__text::after {
    left: 16px;
  }
  .weekly-graph__cont .subtitle {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .single-weekly-graph__text .ic {
    width: 80px;
    height: 55px;
  }
}

@media screen and (max-width: 991px) {
  .warning {
    overflow: visible;
  }
  .weekly-graph__bg::after {
    padding-top: 27%;
  }
  .footer .footer-link {
    margin-left: auto;
    margin-bottom: 30px;
  }
  .footer .footer-wrapper .footer-button {
    margin: 0;
    left: auto;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .footer .footer-wrapper .footer-logo img {
    width: auto;
    height: 100%;
  }
  .footer .footer-wrapper .footer-logo {
    margin-bottom: 20px;
  }
  .faq {
    padding-top: 40px;
  }
  .single-cloud {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 800px) {
  .cloud {
    padding: 40px 0;
  }
  .weekly-graph {
    padding: 40px 0 80px;
  }
  .info-company .info-company__inner .info-company__wrapper .info-company__content {
    margin-top: 264px;
  }
  .warning .warning-header {
    padding: 30px 15px;
  }
  .warning .warning-header .warning-header__text {
    font-size: 26px;
  }
  .single-weekly-graph {
    &::after {
      content: none;
    }

    &:nth-child(even) {
      &::before {
        content: none;
      }
    }

    &:nth-child(3) {
      &::before {
        content: '';
      }
    }
  }
  .single-weekly-graph {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 650px) {
  .weekly-graph__bg::before {
    width: 37%;
    padding-top: 38%;
  }
  .weekly-graph__bg::after {
    width: 29%;
    padding-top: 29%;
  }
  .cloud__list {
    gap: 5px;
  }
  .single-cloud {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .warning .warning-header .warning-header__text {
    font-size: 22px;
  }
  .info-company .info-company__inner .info-company__wrapper {
    width: 100%;
    max-width: 100%;
  }
  .subtitle {
    font-size: 21px;
  }
  .single-cloud__text {
    font-size: 16px;
  }
  .single-cloud .number {
    width: 80px;
    height: 80px;
  }
  .single-cloud {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .single-weekly-graph__text p {
    font-size: 19px;
  }
  .weekly-graph__cont > p {
    margin-top: 12px;
    font-size: 14px;
  }
  .single-weekly-graph__text .ic {
    margin-top: 15px;
  }
  .single-cloud .number::before {
    font-size: 20px;
  }
  .footer .footer-wrapper .footer-button {
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    top: auto;
    transform: none;
  }
  .info-company .info-company__inner .info-company__wrapper .info-company__img {
    left: -15px;
  }
  .whats-up-link {
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 15px;
  }
  .weekly-graph__bg::after {
    background: $orange;
  }
  .single-weekly-graph {
    width: 100%;

    &:nth-child(even) {
      &::before {
        content: '';
      }
    }

    &::before {
      left: 50%;
      bottom: -24px;
      top: auto;
      transform: translate(-50%, 100%) rotate(-90deg);
    }
  }
  .weekly-graph__list {
    gap: 80px;
  }
  .cloud__list {
    gap: 15px;
  }

}