html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Open Sans Hebrew';
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #545454;


    &.active{
        overflow: hidden;
    }
}

.container{
    max-width: 1110px;
    margin: 0 auto;
    // overflow-x: hidden;
}



@media(max-width:1200px){
    .container{
        padding: 0 35px;
    }
}


