.footer {
  background-color: #fff;
  position: relative;
  padding: 10px 0;

  .container {
    max-width: 1140px;
  }

  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-logo {
    height: 110px;
    width: auto;
    display: flex;

    a, img {
      height: 100%;
      width: auto;
      display: flex;
    }
  }

  .footer-button {
    width: 51px;
    height: 51px;
    background-color: #1E5476;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer-link {
    font-weight: 400;
    font-size: 16px;
    color: #1E5476;
    margin-right: auto;
    display: flex;
    margin-left: 132px;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-copy {
    font-weight: 400;
    font-size: 16px;
    color: #1E5476;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    .footer-wrapper {
      flex-direction: column;

      .footer-logo {
        margin-bottom: 40px;

        img {
          width: 134px;
        }
      }

      .footer-button {
        order: 3;
        margin: 40px 0;
      }
    }
  }
}
