@font-face {
    font-family: 'Open Sans Hebrew';
    src: url('../fonts/OpenSansHebrew-Regular.ttf');
    src: url('../fonts/OpenSansHebrew-Regular.eot') format('eot');
    src: url('../fonts/OpenSansHebrew-Regular.otf') format('otf');
    src: url('../fonts/OpenSansHebrew-Regular.ttf') format('ttf');
    src: url('../fonts/OpenSansHebrew-Regular.woff') format('woff');
    src: url('../fonts/OpenSansHebrew-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: url('../fonts/OpenSansHebrew-Bold.ttf');
    src: url('../fonts/OpenSansHebrew-Bold.eot') format('eot');
    src: url('../fonts/OpenSansHebrew-Bold.otf') format('otf');
    src: url('../fonts/OpenSansHebrew-Bold.ttf') format('ttf');
    src: url('../fonts/OpenSansHebrew-Bold.woff') format('woff');
    src: url('../fonts/OpenSansHebrew-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}